h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.responsive-table {
    /* border: solid; */
    text-align: center;
}
.responsive-table tr {
    border-top: solid;
    border-width: 0.2px;
    text-align: center;
}
.responsive-table td {
    /* border: solid;
    border-width: 0.2px; */
    width: 90px;
    height: 90px;
    margin: auto;
}
.answer-td {
    border: solid;
    width: 270px;
}